/* Responsive Layout Mobile - 576px */


/* Responsive Layout Tablet - 768px  */
@media screen and (min-width: 768px){
    .container{
        max-width: 700px;
    }

    .row {
        flex-direction: row;
    }

    .column {
        flex-basis: 50%;
    }

    .section-planning .card-longer{
        min-height: 400px;
    }

    .section-planning .row {
        flex-direction: column;
    }

}


/* Responsive Layout Desktop - 1200px */
@media screen and (min-width: 1200px){
    .container{
        max-width: 800px;
    }

    .navbar-menu-visible{
        display: none;
    }

    .navbar-menu-hidden{
        display: flex;
    }

    .section-planning {
       height: 600px;
    }

    .section-planning .row {
        flex-direction: row;
    }

    .section-planning .column {
        display: flex;
        justify-content: center;
    }

    .section-planning .card {
        width: 80%;
    }

    .section-planning .card-lower {
        position: relative;
        bottom: -100px;
    }


    
}

