/* Custom properties */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --bright-blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --dark-grey: #333333;
    --orange: #FDC15F;
    --grey: #BCB9ED;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: 'PT Sans', sans-serif;
    color: var(--black);
    padding-top: 80px;
  }

  header {
    background-color: var(--bright-blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 0 3px var(--dark-dark-grey);
    color: var(--white);
  }

  footer {
    background-color: var(--dark-grey);
    padding: 20px;
    color: var(--white);
    font-size: 15px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .flex {
    display: flex;
  }
  
  p{
    line-height: 25px;
  }
  
  
  /* Utils */
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .bg-white{
    background-color: var(--white);
  }

  .bg-purple{
    background-color: var(--purple);
  }

  .bg-light-blue {
    background-color: var(--light-blue);
  }

  .section{
    padding: 50px 0;
  }

  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%;
    padding-bottom: 20px;
  }

  .card {
    min-height: 300px;
    border-radius: 20px;
    padding-top: 30px;
  }

  .card-longer{
    min-height: 500px;
  }

  .p-10{
    padding: 0 10px;
  }

  .button{
    padding: 4px 8px;
    border-radius: 20px;
    border: 1px solid transparent;
  }

  .font-medium {
    font-size: 17px;
  }

  /* Navbar */
  .navbar {
    height: 80px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-logo img{
    padding: 10px 0;
  }

  .navbar-menu-hidden{
    display: none;
  }
  
  .navbar-menu-hidden ul{
    list-style-type: none;
    display: flex;
  }

  /* Jumbotron */
  .jumbotron{
    padding: 50px 0;
    text-align: center;
  }

  .jumbotron h1{
    color: var(--bright-blue);
    padding-top: 20px;
  }

  .jumbotron p{
    padding: 20px 50px;
    font-size: 15px;
  }

  .jumbotron .button{
    width: 70%;
    color: var(--white);
    background-color: var(--bright-blue);
  }

  .jumbotron .fa-apple{
    padding-right: 10px;
  }

  .jumbotron img{
    margin-top: 20px;
    height: 100%;
  }

  .jumbotron .fa-solid{
    color: var(--bright-blue);
  }

  .row-jumbotron{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .column-jumbotron {
    flex-basis: 100%;
    padding-bottom: 20px;
  }

  .card-jumbotron{
    min-height: 300px;
    border-radius: 20px;
    padding-top: 30px;
  }

  /* Sections */

  /* Section planning */
  .section-planning .card-normal h1{
    font-size: 40px;
    color: var(--white);
    padding: 30px 0;
    text-align: left;
  }

  .section-planning .card-normal p{
    font-size: 15px;
    color: var(--white);
    padding-right: 50px;
  }

  .section-planning .card-italic {
    margin-top: 20px;
    border-radius: 40px;
    text-align: center;
    }

  .card-italic h1, .card-italic p{
    color: var(--black);
    padding: 10px 0;
  }

  .card-italic p{
    padding: 0 130px;
    font-style: italic;
    margin-bottom: 20px;
  }

  .card-italic button{
    background-color: var(--purple);
    border: 1px solid transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  /* Section testimonials  */
  .section-testimonials {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-testimonials-content > span {
    text-transform: uppercase;
  }

  .section-testimonials-content > h1 {
    color: var(--purple);
    margin: 20px 0;
    padding: 0 50px;
    font-size: 40px;
  }

  .section-testimonials-content > p {
    padding: 0 100px;
  }

  .section-testimonials > .row {
    color: var(--white);
  }

  .section-testimonials .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    margin: 20px 0;
  }

  .section-testimonials .img-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .section-testimonials img {
    height: 100%;
  }

  .img-content {
    width: 60%;
    padding-bottom: 20px;
  }

  .img-content p {
    padding: 20px;
  }

  .img-content span{
    text-transform: uppercase;
  }

  /* Section benefits  */
  .section-benefits h1 {
    font-size: 40px;
  }

  .section-benefits-content h1 {
    color: var(--white);
    margin-bottom: 20px;
  }

  .section-benefits-content {
    width: 60%;
  }

  .section-benefits .card {
    padding: 30px;
  }

  .section-benefits .card h1, h2, p, button {
    margin-bottom: 20px;
  }

  .section-benefits .card h1, h2, button {
    color: var(--purple);
  }

  .section-benefits .card p {
    padding-right: 100px;
  }

  .section-benefits .card .button {
    color: var(--white);
    width: 30%;
  }
 
  /* Section about */

  .section-about {
    padding-bottom: 20px;
  }
  
  .section-about-description{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }

  .section-about-text h1 {
    font-size: 40px;
    color: var(--purple);
    margin-bottom: 30px;
  }

  .section-about-text p {
    margin-bottom: 30px;
  }

  .section-about .img-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
  }

  .section-about img {
    height: 100%;
  }

  .section-about .img-content{
    position: relative;
  }

  .fa-quote-left {
    color: var(--purple);
    position: absolute;
    top: -140px;
    left: 40%;
  }

  .section-about .img-content h2 {
    padding-top: 15px;
  }

  .section-about .img-content button{
    color: var(--white);
  }

  .img-content button .fa-linkedin {
    padding: 0 5px;
  }

  /* Section Get started */
  .section-started-content{
    text-align: center;
    color: var(--white);
  }

  .copyright {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }

  .underscore {
    text-decoration: underline;
    padding: 0 3px;
  }

  .section-started-content > span {
    text-transform: uppercase;
    color: var(--grey);
  }

  .section-started-content > h1 {
    font-size: 50px;
    color: var(--orange);
    padding-bottom: 20px;
  }

  .section-started-content > h2 {
    color: var(--white);
    padding: 10px 80px;
  }

  .section-started-content > p {
    font-size: 15px;
    padding: 0 80px;
  }
  
  .section-started-content > button {
    width: 40%;
    padding: 10px 8px;
  }
   
  /* Footer */
  .footer-contents{
    text-align: center;
  }

  .footer-contents > p {
    padding: 10px 80px;
  }

  .footer-contents > p > span{
    color: var(--purple);
    text-decoration: underline;
  }

  



















  
  