/* Custom properties */
:root{
    --white: #FFFFFF;
    --black: #000000;
    --bright-blue: #0084FD;
    --light-blue: #B5DDFF;
    --purple: #9792E4;
    --dark-grey: #333333;
    --orange: #FDC15F;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: 'PT Sans', sans-serif;
    color: var(--black);
    padding-top: 80px;
  }

  header {
    background-color: var(--bright-blue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 3px var(--dark-dark-grey);
    z-index: 1;
  }
  
  /* Utils */
  .container {
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--orange);
  }

  .bg-white{
    background-color: var(--white);
  }

  .bg-purple{
    background-color: var(--purple);
  }

  .section{
    padding: 50px 0;
  }


  /* Navbar */
  .navbar {
    height: 80px;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .navbar-menu-hidden{
    display: none;
  }
  
  .navbar-menu-hidden ul{
    list-style-type: none;
    display: flex;
  }

  /* Jumbotron */
  .jumbotron{
    padding: 50px 0;
  }

  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .column {
    flex-basis: 100%;
    padding-bottom: 10px;
  }

  .card {
    min-height: 300px;
    background-color: green;
    border: 1px solid black;
    border-radius: 20px;
  }

  .card-longer {
    min-height: 500px;
  }

  /* Sections */

  /* Section strategic planning */
  








  
  